<form [formGroup]="saveEmployeeForm" (ngSubmit)="save()">
  <h2 *ngIf="employee == null" class="text-center text-primary">Register</h2>
  <h2 *ngIf="employee != null" class="text-center text-primary">{{employee.firstName}} {{employee.lastName}}</h2>
  <hr>

  <div class="form-group">
    <input type="text"
    [ngClass]="{'is-invalid': saveEmployeeForm.get('firstName').errors 
    && saveEmployeeForm.get('firstName').touched}"
    formControlName="firstName" 
    class="form-control" 
    placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text"
    [ngClass]="{'is-invalid': saveEmployeeForm.get('lastName').errors 
    && saveEmployeeForm.get('lastName').touched}"
    formControlName="lastName" 
    class="form-control" 
    placeholder="Last Name">
  </div>

  <div class="form-group text-center">
    <button [disabled]="!saveEmployeeForm.valid" class="btn btn-success" type="submit">Save</button>
    <button (click)="cancel()">Cancel</button>
  </div>         
</form>
<div>
  <button (click)="cancel()">Add Employee</button>
  <button (click)="cancel()">Add New Employee</button>
</div>
<div>

</div>