<button class="tablink" (click)="showTab(1)" id="defaultOpen">Companies</button>
<button class="tablink" (click)="showTab(2)">Employees</button>
<button class="tablink" (click)="showTab(3)">Visits</button>

<div *ngIf="showTabNr == 1" id="Main" class="tabcontent">
  <app-companies></app-companies>
</div>

<div *ngIf="showTabNr == 2" id="Companies" class="tabcontent">
  <app-employees></app-employees>
</div>

<div *ngIf="showTabNr == 3" id="Employees" class="tabcontent">
  <h1>Visits</h1>
</div>
